<p id="notice"><%= notice %></p>

<h1>Cources</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cources.each do |cource| %>
      <tr>
        <td><%= cource.title %></td>
        <td><%= cource.description %></td>
        <td><%= cource.price %></td>
        <td><%= link_to 'Show', cource %></td>
        <td><%= link_to 'Edit', edit_cource_path(cource) %></td>
        <td><%= link_to 'Destroy', cource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cource', new_cource_path %>
