<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cource.title %>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @cource.description %>
</p>
<p>
  <strong>Precio:</strong>
  <%= @cource.price %>
</p>

<%= link_to 'Edit', edit_cource_path(@cource) %> |
<%= link_to 'Back', cources_path %>
